.BestSellers {
    background-color: white; /* White background for the new arrivals section */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Centering the title */
  }
  
