/* Footer.css */

.footer {
  width: 100%;
  background-color: #EAE4E4; 
  color: black; 
  text-align: center; 
  padding: 20px 0; 
  margin-top: 20px; 
}

.footer-links {
  list-style: none; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
  gap: 15px; 
  margin: 10px 0 0; 
}

.footer-link {
  color: black; 
  text-decoration: none; 
  font-weight: normal;
}

.footer-link:hover {
  color: #b7aeae; 
  text-decoration: none; 
}
