body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .app-container {
    padding: 20px;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; 
    margin-top: -50px; 
  }  
  
  .auth-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  .auth-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-form input {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
  }
  
  .auth-form button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    margin: 20px auto 0;
    display: block;
  }
  
  .auth-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }